*,
::after,
::before {
  box-sizing: border-box;
}
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap");

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --headingFont: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width6: 600px;
  --fixed-width4: 400px;
  --fixed-width3: 300px;
  --fixed-width5: 500px;
  --fixed-width7:700px

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width6);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}
/* ========= */
/*   RECIPE  */
/* ========= */

body {
  display: grid;
}

.recipe-app {
  display: grid;
  justify-content: center;
  align-items: center;
  width: var(--fixed-width6);
  background-color: #e8ebef;
  border-radius: 20px;
  justify-self: center;
  position: relative;
  max-width: fit-content;
}

.header-container {
  margin-top:2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--fixed-width6);
  position: relative;
  /* border: 1px solid blue; */
}
.search-container {
 width: fit-content;
 margin-right: 1rem;
}

#search-text {
  margin: 0rem;
  padding: 0.4rem 0rem;
  padding-left: 0.5rem;
  font-size: 1.25rem;
  background: #eaecef;
  border: 1px solid;
  border-radius: 5px;
  max-width: 200px;
}

.fa-search {
  padding-bottom: 0.3rem;
  font-size: 1.8rem;
  border: none;
  background: none;
  
}

.logo-container {
width: fit-content;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(225, 119, 58);
  margin-left:1rem;
  padding-left: 0
}



.fav-container {
  display: grid;
  justify-content: center;
  padding: 0;
}

.fav-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.fav-title h4 {
  font-size: 1.1rem;
  text-align: center;
  color: purple;
}
.fav-title h4 span {
  font-size: 0.7rem;
  color: black;
  text-transform: lowercase;
}

.fav-header {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  background: #c1beff;
  border-radius: 10px;
  padding: 0 10px;
  min-height: 230px;
  /* width: 520px; */
}

.fav-meals {
  display: flex;
  gap: 0.3rem;
  /* margin-left: 2rem; */
}
/* fav-meal or fav-meals li*/
.fav-meals li {
  cursor: pointer;
  width: 80px;
  height: 80px;
  position: relative;
  /* margin: 5px; */
}

.fav-meals li .clear {
  color: red;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
  opacity: 0;
}

.fav-meals li:hover .clear {
  opacity: 1;
  cursor: pointer;
}

/* dish-img is same as .fav-meals li img */
.fav-meals li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  justify-self: center;
}

/* dish-name is also .fav-meals li h3 */
.fav-meals li h3 {
  display: inline-block;
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75px;
}

.meals {
  /* min-height: var(--fixed-width6); */
  /* height: fit-content; */
  margin:0;
  overflow: hidden;
}

.meal-header {
  margin: auto;
  /* max-width: 500px;
  max-height: 600px; */
  max-width: fit-content;
  max-height: fit-content;
  display: grid;
  position: relative;
  border-radius: 10px;
  /* overflow: hidden; */
  /* margin-top: 0.5rem; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.meal-header h3 {
  background: rgba(96, 95, 95, 0.5);
  /* opacity: 0.7; */
  cursor: pointer;
  z-index: 9;
  color: white;
  display: block;
  position: absolute;
  top: 2rem;
  border: 1px solid;
}

.random-recipe-img {
  max-width: 380px;
  /* height: 100%; */
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* .random-meal-name-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 0.5rem 0rem;
  background: white;
  align-content: center;
} */

.random-meal-name-container {
  max-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
   background: white;
    padding: 0.5rem 1rem;
  
}

.random-meal-name-container h4 {
  color: var(--grey-500);
  font-size: 1.2rem;
}

.fav-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgb(229, 210, 238);
  cursor: pointer;
  padding-right: 1rem;
}

.active {
  color: #a83de6;
}

/* .fa-solid {
  color: red;
  font-size: 2rem;
} */

.meal-info-container {
  /* position: fixed; */
  /* display: grid; */
  /* visibility: hidden; */
  display: none;
  position: fixed;
  justify-self: center;
  top: 1rem;
  bottom: 1rem;
  /* display: none; */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  /* top: 3rem; */
  border-radius: 10px;
  /* padding: 1rem; */
}
.meal-info-scroll {
  max-width: var(--fixed-width4);
  overflow-y: scroll;
  overflow: auto;
  max-height: 100hv;
  /* Div inside a div to make scroll */
  width: 100%;
  padding: 1rem;
  position: relative;
}
.meal-info {
  max-width:  var(--fixed-width4);
  padding: 1rem;
  border-radius: 10px;
  padding: 0;
  /* overflow-y: scroll;
  overflow: hidden; */
  /* pointer-events: none; */
  /* position: relative; */
  /* position: absolute; */
}

.meal-info img {
  float: left;
  padding: 1rem;
  max-width: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.meal-info h2 {
  font-size: 1.5rem;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}
.meal-info h3 {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.meal-info h4 {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
}

.meal-info a {
  text-transform: lowercase;
  color: red;
}
.meal-info ul {
  color: white;
  text-transform: lowercase;
}

.meal-info li {
  color: white;
}
.meal-info p {
  color: white;
}

#close-popup-btn {
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: red;
  position: absolute;
  top: 0rem;
  right: 1rem;
  cursor: pointer;
}

.hide-meal-popup {
  display: none;
}

.show-meal-popup {
  /* max-width: 600px; */
  /* visibility: visible; */
  display: grid;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-size: 0.7rem;
  color: black;
}
